@import "tailwindcss";

/* Base font */
body {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  background:
    radial-gradient(
      circle at 50% 15%,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0.3) 20%,
      transparent 45%
    ),
    linear-gradient(
      to bottom,
      #eaf9ff 0%,
      #d9f3ff 30%,
      #c7ecff 60%,
      #b8e4ff 100%
    );

  min-height: 100%;
}